.cache
.npm
npm-debug.log
npm-debug.log.*
yarn-error.log
yarn-debug.log.*
/node_modules/
/dist/
/build/
/out/
/lib/
/docs/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
/coverage/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
